@media all and (max-width:768px) {
      body {
        background-image: url('/resimler/3.jpg');
        -webkit-background-size: 100% 100%;
             -moz-background-size: 100% 100%;
             -o-background-size: 100% 100%;
             background-size: 100% 100%;
    }
}
